
/* Header section style */
.sec_class1{
    background-image: url('resources/Banner\ Image.png');
    height: 600px;
    background-repeat: no-repeat;
    margin: 30px 280px;
     /* filter: brightness(70%); */
     /* opacity: 0.8; */
}
.p_class1{
    color: white;
    text-align: center;
    margin-bottom: -1em;
    padding-top: 150px;
    font-size:x-large;
    font-weight: 700;
}
.div_class1{
    font-size: 500%; 
    font-weight: 800;
    text-align: center;
    color: white;
    margin-top: -1em;
}
.p_class2{
    margin-top: -1em;
}

/* Section 2 styles */


.div_class2{
    text-align: center;
    margin-top: 50px;
}
#id1{
    color: red;
    font-size: 400%;
    font-weight:900;
  
}
#id2{
   color: red; 
   font-weight: 600;
   margin-top: -2em;
}
#id3{
    font-size: xx-large;
    font-weight: 600;
    margin-top: 0;
}


/* Section 3 styles */

.div_class3{
    background-image: url('resources/Vectorrr.png'); 
    background-repeat: no-repeat;
    height: 600px;
    margin: 80px 280px;
    display: flex;
    align-items: center;
} 
.div_class4{
    color: white; 
    padding-top: 100px;
    padding-left: 70px;
}

#id4{
    font-size: 4vw;
    font-weight: 700;
}
#id5{
    margin-top: -2em;
}
#id6{
     color: white; 
    padding-left: 50px;
    padding-top: 20px;
}
.img_class1{
    margin-left: 250px;
    height: 400px;
    margin-top: 50px;
    
}

/*  Section 4 styles */


.div_class5{
    background-color:rgba(255, 0, 0, 0.048);
    text-align: center;
    margin: 80px 280px;
    height: 250px;
    font-weight: 700;
    font-size: larger;
    padding: 30px;
    /* border: 1px solid red; */
    border-radius: 15px;  
}

.div_class5 span{
    color: red;
}
.div_class5 button{
    margin-top: 20px;
    background-color: red;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border: 0;
    color: white;
}


/* Section 5 styles */

/* If we use "gap", then we can use it in div_class6 for making fap among div_class7, div_class8 & div_class9 */
/* if we use "padding" then we can use it in div_class7, div_class8 & div_class9 for similar work done*/
.div_class6{
    display: flex;
    margin: 0 280px;
    align-items: center;
    gap: 90px;           
}
.div_class7{
    /* padding-right: 90px; */
    text-align: justify;
}
.div_class8{
    border: 10px solid red;
    border-radius: 220px;  
   
}
.div_class8 img{
 margin: 25px;
}
.div_class9{
    /* padding-left: 90px; */
    text-align: justify;
}


/* Section 6 styles */



.div_class10{
    text-align: center;
    margin-top: 70px;
}
.div_class10 span{
    color: red;
}

.div_class10 h1{
    font-size: 60px;
    margin-top: 5px;
    margin-bottom: 3px;
}

.div_class11{
    display: flex;
    margin: 20px 280px;
    background-image: url('resources/Rectangle\ 1.png');
    background-repeat: no-repeat;
    background-position: right;
     height: 400px; 
}

/* top: 362% means that picture will be placed 362% bottom from the top  & position: absolute is important for this % type measurement*/
#id7{
   height: 400px;
   position: absolute;
   top: 362%;    
   left: 20%;
  
}
#id8{
   margin-left: 690px; 
}

#id9{
    margin: 0 280px;
    height: 150px;
    width: 1330px;
    margin-top: -1.2em; 
}



/* Section 7 styles */


.div_class12{
    margin: 70px 280px 30px;
}
.div_class12 h3{
    color: red;
}
.div_class12 h1{
    font-size: 50px;
    margin-top: 0px;
}
.div_class12 p{
    color: rgba(0, 0, 0, 0.473);
    font-size: larger;
    margin-top: -1.5em;
}
.div_class13{
   margin: 0 280px;
}
.div_class13 img{
    margin-right: 15px;
}
.div_class14{
    margin: 15px 280px;
}
.div_class14 img{
    margin-right: 15px;
}

.div_class13 img:hover{
    opacity: 50%;
}
.div_class14 img:hover{
    opacity: 50%;
}


